* {
  font-family: "Noto Sans KR", sans-serif;
}
:root {
  --swiper-theme-color: #fff;
}

.purchase-agree .v-label {
  width: auto;
}
html,
body {
  height: 100%;
  touch-action: pan-y pan-x;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
}
